beautifulsoup4
fake_useragent
keras; python_version < '3.9'
lxml
matplotlib
numpy
opencv-python==4.5.3.56
pandas
pillow
qiskit
requests
scikit-fuzzy
sklearn
statsmodels
sympy
tensorflow; python_version < '3.9'
xgboost
