beautifulsoup4
fake_useragent
keras; python_version < '3.9'
lxml
matplotlib==3.4.2
numpy
opencv-python
pandas
pillow
qiskit
requests
scikit-fuzzy
sklearn
statsmodels
sympy
tensorflow; python_version < '3.9'
xgboost
